name: Build whisper.cpp libs

on:
  workflow_dispatch:

jobs:
  macos-arm64:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - name: Build and upload
        env:
          GH_TOKEN: ${{ github.token }}
        run: uv run scripts/build-libs.py --upload
